/* .jimu-widget-demo div:first-child{
  color: red;
  float: left;
  line-height: 28px;
  padding: 5px 0px 0px 0px;
  width: 100%;
} */

.selectLabel{
  /* color: red; */
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 2%;
}

.dijitInputInner {
  background-color: rgba(255, 255, 255, 0.4);;
}

.dijitMenuItem {
  background-color: rgba(255, 255, 255, 0.7);
}

.attr_legend {
  font-size: 110%;
  font-weight: bold;
  width: 90%;
  margin-top: 5%;
  padding-left: 2%;
  border-top: 1px solid rgb(5, 5, 5);
  border-left: 1px solid rgb(5, 5, 5);
  border-bottom: 1px solid rgb(5, 5, 5);
  border-right: 1px solid rgb(5, 5, 5);
}

.checkBoxLabel {
  /* margin-top: 10%;
  margin-bottom: 10%; */
  margin-right: 5%;
  margin-left: 5%;
}

.checkBox {
  display:inline;
  margin-bottom: 5%;
  left: 45%;
}

.checkBoxInput {
  margin-top: 1%;
  margin-bottom: 0;
  height: 5%;
  vertical-align: middle;
}

.checkBoxContainer {
  position: absolute;
  margin-bottom: 0;
  padding-left: 5%;
  padding-top: 3%;
  width: 90%;
  box-shadow: 0px 8px 16px 0px darkgray;
  z-index: 2;
  background: white;
}

.checkBoxContainerButton {
  width: 100%;
  background: white;
  color: black;
  font-weight: bold;
  padding: 3%;
  /* border-bottom: 1px solid black; */
}

.checkBoxContainerButton:after {
  content: '▼'; 
  align-content: right;
  font-size: 10px;
  color: black;
  float: right;
  margin-left: 5px;
  /* content: '\2212▼';  */
}

.active:after {
  content: '▲';
  /* "\002B" */
}

.valueContainer {
  border: 1px solid black;
  width: 90%;
  margin-top: 3%;
}

.sliderInput {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 8%;
  margin-right: 4%;
  /* vertical-align: middle;
  text-align: center; */
}

.sliderLabelInput {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 16%;
  margin-right: 4%;
  width: 72%;
  /* vertical-align: middle;
  text-align: center; */
}

.sliderLabelInput2 {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 8%;
  margin-right: 4%;
  width: 77%;
}

.symbol {
  width: 5%;
  height: 10px;
  display: inline-block;
  transform: skew(20deg);
}
