.jimu-widget-search{
	min-height: 32px;
}
.jimu-widget-search .search-node.default-width-for-openAtStart{
	width: 274px;
}

.jimu-widget-search .result-item-selected{
	background: #eee;
}

.jimu-widget-search .arcgisSearch .searchBtn{
	padding: 6px;
}
.jimu-widget-search .arcgisSearch .searchBtn:hover,
.jimu-widget-search .arcgisSearch .searchBtn:focus {
	background-color: #485566;
	color: white;
}
.jimu-widget-search .arcgisSearch .searchGroup .searchInputGroup .searchInput{
	width: auto;
}

.jimu-widget-search.use-absolute .arcgisSearch .searchToggle{
	float: left;
}

.jimu-rtl .jimu-widget-search.use-absolute .arcgisSearch .searchToggle{
	float: right;
}

.jimu-widget-search.use-absolute .arcgisSearch .searchInputGroup{
	position: absolute;
	top: 0;
	width: auto;
	left: 34px;
	right: 34px;
}

.jimu-widget-search.use-absolute .arcgisSearch .searchInputGroup form{
	overflow: hidden;
	z-index: 0;
	position: relative;
}
.jimu-widget-search.use-absolute .arcgisSearch .searchInputGroup .searchClear{
	z-index: 0;
}

.jimu-widget-search.use-absolute .arcgisSearch .searchExpandContainer{
	float: none;
}

.jimu-widget-search.use-absolute .arcgisSearch .searchSubmit{
	float: right;
}

.jimu-rtl .jimu-widget-search.use-absolute .arcgisSearch .searchSubmit{
	float: left;
}

.jimu-widget-search .arcgisSearch .show-all-results{
	position: absolute;
	height: 25px;
	color: #686868;
	line-height: 25px;
	display: none;
	width: 237px;
	margin: auto;
	background-color: #fff;
	padding: 0 12px;
	cursor: pointer;
}

.jimu-widget-search .arcgisSearch .searchMenu{
	border-radius: 0;
	color: #686868;
	font-size: 12px;
	padding: 0;
	top: 33px;
}

.jimu-widget-search .arcgisSearch .searchMenu li.active{
	background-color: #d9dde0;
	color: #686868;
	font-size: 14px;
}

.jimu-widget-search .arcgisSearch .searchMenu li{
	padding: 0 12px;
	line-height: 25px;
}

.jimu-widget-search .arcgisSearch .searchMenu li:hover,
.jimu-widget-search .arcgisSearch .searchMenu li:focus {
	background-color: #eee;
}

.jimu-widget-search .arcgisSearch .searchMenu .menuHeader{
	background-color: #d9dde0;
	color: #686868;
	font-size: 14px;
	min-height: 30px;
	padding: 0 12px;
	line-height: 30px;
}

.checkBoxLabel {
	/* margin-top: 10%;
	margin-bottom: 10%; */
	margin-right: 5%;
	margin-left: 5%;
	width: auto;
	position: absolute;
}
  
.checkBox {
	display:inline;
	margin-bottom: 5%;
	left: 45%;
}

.checkBoxInput {
	margin-top: 1%;
	margin-bottom: 0;
	height: auto;
	width: auto;
	vertical-align: middle;
}
  


.filterBoxContainer {
	position: absolute;
	margin-bottom: 0;
	padding-left: 5%;
	padding-top: 3%;
	width: 90%;
	box-shadow: 0px 8px 16px 0px darkgray;
	z-index: 2;
	background: white;
}

/* .checkBoxContainerButton {
	content: '▼'; 
	width: 2%;
	background: white;
	color: black;
	display: inline-block;
	align-content: right;
} */

/* .checkBoxContainerButton:after {
	content: '▼'; 
	align-content: right;
	font-size: 10px;
	color: black;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: '▲';
}  */

/* .valueContainer {
	border: 1px solid black;
	width: 90%;
	margin-top: 3%;
} */